// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap')

body
  font-family: 'Mukta', sans-serif
  background: transparent url('/img/BG.png') 0% 0% no-repeat padding-box

.leftNavBar
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100vh

.transformMail
  transform: rotate(-40deg)
  border: 1px solid #F04848
  border-radius: 31px
  padding: 50px

.link-arrow
  font-size: 1.1rem
  font-weight: lighter
  border: 1px solid #b1b1b1
  border-radius: 10px
  padding: 1.3rem 3.4rem
  width: fit-content
  color: white
  text-decoration: none
  display: flex
  align-items: center
  position: relative

.link-arrow span
  display: inline-block

.link-arrow img
  position: absolute
  right: -3.5rem
  top: 0.6rem
  transition: all 0.2s ease

.link-arrow:hover img
  right: -4.2rem

h1
  background: linear-gradient(267deg, #6F23D8 0%, #A2359B 0%, #E54C4C 31%, #36A9DD 55%, #BEDD3D 71%, #EF49A2 85%, #808080 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

@media (max-width: 1024px)
  h1
    font-size: 4rem

@media (max-width: 534px)
  .q-space
    display: none